---
layout: default
title: HAA Operation Animal Shelter
---
<header>
	<div class="container">
		<div class="column">
			<div>
				<h1 class="editable">A site dedicated to helping friends.</h1>
				<p class="editable">Animals are our best friends and we believe they should be treated fairly.</p>
				<div class="button">
					<a href=https://sbhumane.org/wish-list/>Agree!</a>
				</div>
			</div>
		</div>
		<div class="column">
			<img src="{{ site.baseurl }}/images/sheep.jpg" alt="Sheep">
		</div>
	</div>
</header>

<div class="container">
	<h2 class="editable" style="text-align: center;">About Us</h2>

	<ul class="thirds">
		<li>
			<div class="image">{% include icons/site.html icon="population" %}</div>
			<h3 class="editable">HAA</h3>
			<p class="editable">Simple: [H]annah, [A]shley, and [A]melia. </p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="economy" %}</div>
			<h3 class="editable">Stats</h3>
			<p class="editable">Just look at that graph up there. It's going up, that has to be good, right!?.</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="conditions" %}</div>
			<h3 class="editable">Caring</h3>
			<p class="editable">We believe that all animals should be cared for.</p>
		</li>
	</ul>
</div>

<div class="container">
	<div class="columns">
		<div>
			<img src="{{ site.baseurl }}/images/kitten-yarn.jpg" alt="Kitten with yarn">
		</div>
		<div>
			<h2 class="editable">Our Mission</h2>

			<p class="editable">Find ways to build friendship and care for animals.</p>
		</div>
	</div>
</div>

<div class="container">
	<hr>
	<blockquote>
		<p class="quote editable">No hour of life is wasted that is spent in the saddle.</p>
		<div class="attribute">
			<p class="meta">
				<span class="image"><img class="editable" src="{{ site.baseurl }}/images/amelia.jpg" alt="Amelia"></span>
				<span class="author editable"><strong>Amelia</strong></span>
			</p>
		</div>
	</blockquote>
</div>

<div class="darker">
	<div class="container">
		<h2 class="editable">Join us</h2>
		<p class="editable" style="text-align: center;">Check back often for news and updates on our adventures.</p>
	</div>
</div>

<div class="darker">
	<div class="container">
		<h2 class="editable">Updates</h2>
		<p class="editor-link"><a href="cloudcannon:collections/_posts" class="btn"><strong>&#9998;</strong> Add Update</a></p>
		<div class="posts">
			{% for post in site.posts %}
				<div class="post">
					<div class="image" style="background-image: url({{ post.featured_image}})"></div>
					<div class="post-content">
						<p class="date">{{ post.date | date: '%B %d, %Y' }}</p>
						<h3>{{ post.title }}</h3>

						{{ post.content }}
						<p class="editor-link"><a href="cloudcannon:collections/{{ post.path }}" class="btn"><strong>&#9998;</strong> Edit Update</a></p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
